@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --width-7xl: 80rem;
}

/* 글로벌 스타일 설정 */
@layer base {
  body {
    @apply text-white;
  }

  .sandpack-container {
    @apply h-auto !important;
    @apply max-h-160;
  }
}

input[type="radio"]:checked + label::before {
  background-position: 0 -24px;
}

input[type="radio"]:disabled + label {
  color: #999999;
}
input[type="radio"]:disabled + label::before {
  background-position: 0 0;
}
input[type="radio"]:disabled:checked + label::before {
  background: url("./assets/images/btn/btn_icon_radio_disabled.png");
  background-size: contain;
}
